:root {
    --color-text-primary: #c9d1d9;
    --color-text-secondary: #8b949e;
    --color-text-tertiary: #8b949e;
    --color-text-placeholder: #484f58;
    --color-text-disabled: #484f58;
    --color-text-inverse: #0d1117;
    --color-text-link: #58a6ff;
    --color-text-danger: #f85149;
    --color-text-success: #56d364;
    --color-text-warning: #e3b341;
    --color-text-white: #f0f6fc;
    --color-icon-primary: #c9d1d9;
    --color-icon-secondary: #6e7681;
    --color-icon-tertiary: #484f58;
    --color-icon-info: #79c0ff;
    --color-icon-danger: #f85149;
    --color-icon-success: #56d364;
    --color-icon-warning: #e3b341;
    --color-border-primary: #30363d;
    --color-border-secondary: #21262d;
    --color-border-tertiary: #6e7681;
    --color-border-overlay: #30363d;
    --color-border-inverse: #f0f6fc;
    --color-border-info: rgba(56, 139, 253, 0.4);
    --color-border-danger: rgba(248, 81, 73, 0.4);
    --color-border-success: rgba(63, 185, 80, 0.4);
    --color-border-warning: rgba(187, 128, 9, 0.4);
    --color-bg-primary: #0d1117;
    --color-bg-secondary: #0d1117;
    --color-bg-tertiary: #161b22;
    --color-bg-overlay: #21262d;
    --color-bg-backdrop: rgba(1, 4, 9, 0.8);
    --color-bg-info: rgba(56, 139, 253, 0.1);
    --color-bg-info-inverse: #388bfd;
    --color-bg-danger: rgba(248, 81, 73, 0.1);
    --color-bg-danger-inverse: #da3633;
    --color-bg-success: rgba(46, 160, 67, 0.1);
    --color-bg-success-inverse: #2ea043;
    --color-bg-warning: rgba(187, 128, 9, 0.1);
    --color-bg-warning-inverse: #bb8009;
}


body {
    color: var(--color-text-white);
    border-color: var(--color-border-primary);
    background-color: var(--color-bg-primary);
}

header.main-header {
    background-color: var(--color-bg-tertiary);
    width: 100vw;
    height: 3rem;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
    color: var(--color-text-secondary);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border-secondary);
    background-color: var(--color-bg-primary);
}

input[type='color']::placeholder,
input[type='date']::placeholder,
input[type='datetime']::placeholder,
input[type='datetime-local']::placeholder,
input[type='email']::placeholder,
input[type='month']::placeholder,
input[type='number']::placeholder,
input[type='password']::placeholder,
input[type='search']::placeholder,
input[type='tel']::placeholder,
input[type='text']::placeholder,
input[type='url']::placeholder,
input[type='week']::placeholder,
input:not([type])::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--color-text-placeholder);
}

.card {
    padding: 1rem;
    border-radius: 0.5em;
    color: var(--color-text-white);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border-primary);
    background-color: var(--color-bg-primary);
}