:root {
    --color-purple-text: #50495aff;
    --color-purple-dark: #50248fff;
    --color-purple: #9c6adeff;
    --color-indigo-text: #3e4155ff;
    --color-indigo-dark: #202e78ff;
    --color-indigo: #5c6ac4ff;
    --color-blue-text: #3e4e57ff;
    --color-blue-dark: #084e8aff;
    --color-blue: #006fbbff;
    --color-teal-text: #405352ff;
    --color-teal-dark: #00848eff;
    --color-teal: #47c1bfff;
    --color-green-text: #414f3eff;
    --color-green-dark: #108043ff;
    --color-green: #50b83cff;
    --color-yellow-text: #595130ff;
    --color-yellow-dark: #8a6116ff;
    --color-yellow: #eec200ff;
    --color-orange-text: #594430ff;
    --color-orange-dark: #c05717ff;
    --color-orange: #f49342ff;
    --color-red-text: #583c35ff;
    --color-red-dark: #bf0711ff;
    --color-red: #de3618ff;
    --color-ink: #212b36ff;
    --color-ink-light: #454f5bff;
    --color-ink-lighter: #637381ff;
    --color-ink-lightest: #919eabff;
    --color-sky-dark: #c4cdd5ff;
    --color-sky: #dfe3e8ff;
    --color-sky-light: #f4f6f8ff;
    --color-sky-lighter: #f9fafbff;
    --color-black: #000000ff;
    --color-white: #ffffffff;

    --background-primary: --color-ink;
    // --background-secondary: ;
    // --background-tertiary: ;
    // --background-accent: ;

    --text-primary: --color-sky-light;
    // --text-secondary: ;
    // --text-tertiary: ;
    // --text-accent: ;

    // --test-card-bg: ;
    // --test-card-br: ;


}